[submodule "pack/plugin/start/nerdtree"]
	path = pack/plugin/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/plugin/start/ctrlp"]
	path = pack/plugin/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
